* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

body {
    background-color: rgb(19, 19, 19);
}

.header {
    margin: 80px 40px 100px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headline {
    color: white; 
    margin: 150px 150px;
    text-align: center;
    font-size: 25px;
}

.header-button {
    background-color:#632F7B;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.7s ease;
}

.about-me {
    margin: 300px 40px;
    font-size: 25px;
}

.about-me-text {
    color: white;
    padding: 150px 150px 0 150px;
}

.about-me-text p {
    padding: 40px 40px 0 0px;
}

.project-container {
    padding: 75px 0px;
    background-color: #632F7B;
}

.top-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.bottom-project {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.project-text {
    font-size: 20px;
    color: white; 
    width: 30%;
    margin: 40px;
}

#contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px;
    height: 300x;
}

.contact-button {
    background-color:#632F7B;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 40px;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    width: 60px;
    cursor: pointer;
}
/* need to figure out ada compatibility */

@media screen and ( max-width: 960px) {
    .headline {
        font-size: 20px;
        background-color: green;
    }

    .project-text {
        font-size: 20px;
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .headline {
        font-size: 10px;
        background-color: blue;
    }

    .project-text {
        font-size: 15px;
        width: 90%;
    }
  }

